# GitHub Personal Access Token
# 申请地址: https://github.com/settings/tokens
# 权限要求: 必须勾选 'gist' 权限
GITHUB_TOKEN=ghp_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# Gist ID (你的订阅文件 Gist ID)
# 如果还没有，可以先运行脚本报错一次，或者在 Gist 网页创建一个获取 ID
GIST_ID=0a7faae910b06151d643c7d5baa43818