[defaults]
inventory = inventory.ini
callbacks_enabled = profile_tasks, timer
bin_ansible_callbacks = True
private_key_file = ~/.ssh/id_ansible_bot
vault_password_file = ~/.vault_pass
host_key_checking = False

# --- 关键修改 1: 改回 default，消除黄色警告 ---
stdout_callback = default



retry_files_enabled = False
fact_caching = jsonfile
fact_caching_connection = .ansible/facts

[ssh_connection]
pipelining = True
# 10分钟的长连接非常合适
ssh_args = -o ControlMaster=auto -o ControlPersist=10m

# --- 新标准: 让默认输出变成 YAML 格式 ---
[callback_default]
result_format = yaml