[defaults]
inventory = inventory.ini
callbacks_enabled = profile_tasks, timer
bin_ansible_callbacks = True
forks = 20  # 提升并发，适合多 VPS 同步

# --- 关键修改 1: 改回 default，消除黄色警告 ---
stdout_callback = default

# --- 关键修改 2: 关闭 Host Key 检查，解决 Gathering Facts 卡死 ---
host_key_checking = False

retry_files_enabled = False
fact_caching = jsonfile
fact_caching_connection = .ansible/facts

[ssh_connection]
pipelining = True
# 10分钟的长连接非常合适
ssh_args = -o ControlMaster=auto -o ControlPersist=10m

# --- 新标准: 让默认输出变成 YAML 格式 ---
[callback_default]
result_format = yaml